services:
  backend:
    build: ./backend
    expose:
      - "8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  frontend:
    build: ./frontend
    ports:
      - "4000:80"
    depends_on:
      - backend
